body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;  
  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.button {
  font: inherit;
  text-align: center;
  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #f4f4f4;
  border: none;
}



.inner-page{
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;  
    
}

.welcome-sign{
  color:#000000;
  background-color: #81b3d2;
  background-image:url("../img/welcome.png"),url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat; 
}
    
.sedona{
  font-size: 21px;
  font-weight:bold;
  line-height: 26px; 
}

.button:hover,
.button:focus,
.button:active {
  background-color: #81b3d2;
}

.main-navigation {
  font-size: 14px;
  font-weight:bold;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a{
  color: #000000;
}

.site-navigation a:hover{
  color: #81b3d2; 
}

.site-navigation a:focus{
  color: #c7c7c7; 
}

.site-navigation a:active{
  color: #a4978f; 
}


.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #ffffff;
}


.feature-item {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}


.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}


.features {
  list-style: none;
  line-height: 21px;
}

.features h3{
  font-size: 21px;
  line-height: 21px;
}

.features .feature-item {
  text-align: center;
}

.more-features {
  list-style: none;
  background-color: #eeeeee;
}

.more-features h3{
  font-size: 21px;
  line-height: 21px;  
}

.feature-item { 
  background-color:#81b3d2;
  color:#ffffff;
}

.info{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.infodate{
  font-size: 14px;
  line-height: 24px;  
}

.booking{
  font-weight: bold;  
}

.booking-item input {
  font: inherit;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.booking-item input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.booking-item input:hover {
  border-color: #ebebeb;
  background-color: #ebebeb;
}

.find-hotel{
   color:#ffffff;
   background-color:#766357;
   width:570px;
    margin-top:50px;
}

.find-hotel:hover {
    background-color:#604e43;
}

.find-hotel:focus {
    background-color: #503e33;
    color:#857871;
}

.find-button{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
}


.find-button {
   background-color: #81b3d2;
   color:#ffffff;  
}

.find-button:hover {
  background-color:#669ec0; 
}

.find-button:focus {
  background-color: #5496bd; 
}

.main-footer {
  color: #000000;
  background-color:rgba(255, 255, 255, 0.5);
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #81b3d2;
}



.footer-copyright {
  text-align: center;
  color: #000000;
  font-weight:400;
  font-size: 14px; 
  line-height: 26px;  
  background-color: #ffffff;
}

.academy{
  color:#000000;
}

.academy:hover{
  color:#81b3d2;
}

.academy:focus {
  color: #bdbbbc;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.count-button{
  color:#a9a9a9;
  background-color:#f2f2f2; 
}


.filter fieldset {
  border: none;  
  padding: 0;
  margin: 0; 
}

.filter-legend{
  border: none;
    
  padding: 0;
  margin: 0;
    
  font-size: 16px;
  line-height: 21px;
  font-weight:bold;
}

.filter ul{
  padding: 0;
  margin: 0;
  
  list-style: none;   
}

.filter {
  color: #ffffff;
  background-color: #81b3d2;
  font-size: 14px;
  line-height: 21px;
  background-image: url("../img/filter-background.jpg"); 
  background-position: 0 0;
  background-repeat: repeat;
}

.filter-list {
  list-style: none;
  line-height: 21px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}

.filter-input:disabled + label {
  color: #6a6a6a;
  opacity: 0.5;
}


.filter-option {

  margin-top: 25px;
  padding-left:44px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-button{
  background-color: transparent;
  border: 2px solid #ffffff;
  line-height: 28px;
  font-size: 14px;
  color:#ffffff;
}

.filter-button:hover{
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color:#000000;
}

.catalog-list {
  list-style: none;
}

.hotel-buttons {
  color: #ffffff;
}



.catalog-item h3 {
  font-size: 21px;
  line-height: 26px;
  margin:0;
  color: #000000; 
  
}

.catalog-item h3:hover {
  color:#81b3d2;
}

.catalog-item h3:focus {
  color:#b2b2b2;
}

.typefilter{
  color:#000000;
  background-color:#ffffff;       
}

.sort-button{
    list-style: none;
}

.sort-button{
  font-size: 12px;
  color:#dbdbdb;
  background-color:transparent;  
  text-decoration: none; /* Убираем подчеркивание */
  border-bottom: 1px dashed #c4dcea; /* Добавляем линию */
}

.sort-button:hover{
  color:#c4dcea; 
  text-decoration: none; /* Убираем подчеркивание */
  border-bottom: 1px dashed #c4dcea; /* Добавляем линию */
}

.sort-button:focus{
  color:#ffffff; 
}

.sort-button:active{
  color:#b3d1e4; 
}

.button-booking{
  list-style: none;
  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
}

.button-booking{
  color:#ffffff;
  background-color:#766357; 
}

.button-booking:hover{
  color:#ffffff;
  background-color:#604e43; 
}

.button-booking:focus{
  color:#695950;
  background-color:#503e33; 
}

.button-info{
  list-style: none;
  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
}

.button-info{
  color:#ffffff;
  background-color:#81b3d2;   
}

.button-info:hover{
  color:#ffffff;
  background-color:#669ec0;  
}

.button-info:focus{
  color:#6ca5c6;
  background-color:#5496bd;  
}

.found{
   
}

.sort{
  line-height: 18px;
  font-size: 12px;
}


/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1280px;
  min-height: 2762px;
}


.main-header {
  list-style: none;
  width: 1200px;
  position:relative;
  margin: 0;
  margin:0 40px;  
}

.main-page{
  list-style: none;
  width: 1200px;
  margin: 0;
  margin: 0 40px;
}

.inner-page{
  list-style: none;
  width: 1200px;
  margin: 0 40px;

/* Временно для сетки */
 min-height: 756px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* padding-top: 15px;*/
 
 /* Временно для сетки */
 min-height: 55px;

}

.main-header-logo {
  position: absolute;
  left:50%;
  transform:translateX(-50%);
  width: 138px;
  height: 70px;
}

.site-navigation {
  width: 1060px;
  margin: 0;
  padding: 0;
  list-style: none;   
  display: flex;
  justify-content: space-between;
  
  
  min-height: 55px;
}

.navigation-item{
    flex-basis: 20%;
    padding-top:15px;
}

.navigation-item:nth-child(1){
    text-align: left;
   
}

.navigation-item:nth-child(2){
    text-align: left;
    margin-right:45px;
}

.navigation-item:nth-child(3){
    text-align: right;
    margin-left:45px;
}

.navigation-item:nth-child(4){
    text-align: right;
   
}

.welcome-sign{
    width: 1200px;   
    min-height: 508px;
}

.about{
   min-height: 180px;  
}

.feature-item{
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
    
  min-height: 256px;
}

.cityinfo{
   width: 400px;  
    /* Временно для сетки */
  min-height: 256px;
 
}

.second{
  flex-direction: row-reverse;  
}


.gallery{
    width: 800px;

  /* Временно для сетки */
  min-height: 256px;
}

.features{
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  
  /* Временно для сетки */
  min-height: 330px;
}

.features-list{
     width: 400px;
}

.more-features{
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  
  /* Временно для сетки */
  min-height: 255px;    
}

.more-features-list{
   width: 400px;    
}

.data-block{
    margin: 0 auto;
    width: 568px;
    text-align: center;
    
}

.booking{
  position: absolute;
  width: 568px;
  top:0;
  left:50%;
  transform:translateX(-50%);
    
 
  min-height: 395px;
  background-color: #ffffff;
}

.map{
 position: relative;
/* Временно для сетки */
  min-height: 475px; 
  
}

.image img{
   max-width: 100%;
}

.main-footer {
  list-style: none;
  padding: 0;
  width: 1200px;
  margin:0 40px;
}


.container{
  width: 1056px;
  margin: 0 70px; 
  padding: 0;
}


.footer-hashtag {
  width: 240px;
  margin: 0;
  padding-top: 45px;
  padding-left: 60px;
  display:inline-block;
}

.footer-social {
  width: 400px;
  padding-top: 35px;
}

.footer-copyright {
  width: 240px;
  margin: 0;
  padding-top: 40px;

}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}



/* ----- вторая страница ----- */

.filter{
  margin: 0;
  padding: 0;
  list-style: none;  
}


.filter-form{
  margin: 0;  
  display: flex;
  margin:0 70px;
    
  min-height: 220px;
}

.first-fielset{
   width: 260px; 
   margin: 0;

}

.second-fieldset{
   width: 495px; 
   margin-right: 200px;
}

.third-fieldset{
   margin: 0;
   width: 330px; 

}

.filter fieldset {
  border: none;
    
  padding: 0;
  margin: 0;
  margin-bottom: 0px;
  
  border: none;
}

.filter-legend{
  border: none;
  padding-top: 28px;    
  padding-left: 3px;
  margin: 0; 
}

.filter ul{
  padding: 0;
  margin: 0;
  list-style: none;   
}

.typefilter{
   border-bottom: 1px solid #e5e5e5;
   padding: 0;
   margin: 0 70px;
   margin-top: 5px;
   width: 1060px;
  
  background-color:#ffffff; 
}

.container-typefilter{
   margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

.sort{
    text-align: left;
    margin-left:15px;
    margin-right:36px;
    display:inline-block; 
}

.typefilter-found{
  text-align: left;
 
  width: 140px; 
  line-height: 26px;
  font-size: 21px;
  font-weight: bold; 
  padding: 0;
  margin:auto 0;
  margin-bottom: 10px;
}

.typefilter-sort{
  width:440px;
  margin:auto 0;
  margin-left:10px; 
}

.typefilter-view{
    width:40px;
    margin:auto 0;
    margin-left: auto;
}

.sort-button{
    text-align: left;
    padding: 0;
    margin: 0;
    margin-right: 30px;
}


.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;
  width: 23px;
  height: 23px;
    
  background-image: url("..//img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;  
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: -2px;
  width: 26px;
  height: 26px;
  
  background-image: url("..//img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-item-image{
    padding:0;
    margin:0; 
}


.catalog-item {
  width: 1056px;
  margin-left: 73px;
  display: flex;
  justify-content:flex-start;
  border-bottom: 1px solid #e5e5e5;
}



.hotel-photo {
  display: inline-block;
  width: 165px;
  padding: 0;
  margin: 0;

  margin-top:30px;
  margin-bottom:25px;
 
}

.hotel-info {
  width: 260px;
  margin-top:23px; 
}

.hotel-rating {
  width:110px;
  text-align: right;
  margin-left:auto;
  margin-top:30px;
}

.hotel-title {
  margin-bottom: 15px;
}

.hotel-buttons{
    margin-top: 13px;  
}

.hotel-type{
   text-align: left;
   line-height: 21px;
   display:inline-block;
   width: 110px;
    margin-top: 10px;  
}

.catalog-item-price{
   text-align: right;
}


.button-booking {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 142px;
  text-align: center;  
  line-height: 27px; 
}

.button-info {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 110px;
  line-height: 27px;
  text-align: center;  
}

